
{{mapPage.trip}}
<div ng-controller= "ProbabilitiesIndexCtrl  as probabilities">
  <google-map locations="probabilities.all" lat="tripsEdit.trip.destination_lat" lng="tripsEdit.trip.destination_lng" aurora="tripsEdit.aurora" center="{lat: 51.5098657, lng: -0.118092}" ng-if="probabilities.all.$resolved" get-lat-lng="mapPage.getLatLng(lat, lng)"></google-map>
<div>
  <button class="btn" ng-click="tripsEdit.create()">Choose this location</button>
{{tripsEdit.aurora}}
  <ul>
    <li ng-repeat="flight in mapPage.flights">
      <div class="row">
        <div class="col-md-3"
        <a ui-sref="tripsShow({ id: trip.id })"><h2>{{ flight.DestinationCity }}</h2></a>
        </div>
      <div class="col-md-2">
        <p>£{{ flight.MinPrice}}</p>
      </div>
      <div class="col-md-4">
        <p>{{ flight.CarrierName}}</p>
      </div>
    </li>
  </ul>
</div>
