
{{tripsEdit.trip}}
<div class="editPage">
<div ng-controller= "ProbabilitiesIndexCtrl  as probabilities">
  <google-map locations="probabilities.all" lat="tripsEdit.trip.destination_lat" lng="tripsEdit.trip.destination_lng" aurora="tripsEdit.aurora" center="{lat: 51.5098657, lng: -0.118092}" ng-if="probabilities.all.$resolved" get-lat-lng="tripsEdit.getLatLng(lat, lng)"></google-map>
</div>
<p>Circles represent the probability of seeing an Aurora, based on satellite and weather data, click to see more information and to see flight details</p>

<button class="btn" ng-click="tripsEdit.update()">Choose this location</button>
<div class="flightsBoard">
  <div class="row">
    <div class="col-md-12">
      <h2>Flights to </h2>
        <div class="row">
        <div class="col-md-2">
          <h3>City</h3>
        </div>
        <div class="col-md-2">
          <h3>Country</h3>
        </div>
        <div class="col-md-2">
          <h3>Departure Airport</h3>
        </div>
        <div class="col-md-2">
          <h3>Price</h3>
        </div>
        <div class="col-md-2">
          <h3>Airline</h3>
        </div>
      </div>
    </div>
  </div>
</div>

  <ul>
    <li ng-repeat="flight in tripsEdit.flights" ng-class="{ 'selected': tripsEdit.selectedFlight === flight.QuoteId }">
      <div class="row">
        <div class="col-md-2">
        <h2 id="flightSelector" ng-click="tripsEdit.addFlight(flight)">{{ flight.DestinationCity }}</h2>
        </div>
    <div class="row">
        <div class="col-md-2">
          <p>{{ flight.DestinationAirport}}</p>
        </div>
        <div class="col-md-2">
          <p>{{ flight.OriginAirport}}</p>
        </div>
      <div class="col-md-2">
        <p>£{{ flight.MinPrice}}</p>
      </div>
      <div class="col-md-2">
        <p>{{ flight.CarrierName}}</p>
      </div>
    </div>
    </li>
  </ul>
</div>

<!-- <form ng-submit="tripsEdit.update()">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" ng-model="tripsEdit.trip.name">
  </div>
  <div>
    <label for="date">Date</label>
    <input type="text" name="date" id="date" ng-model="tripsEdit.trip.date">
  </div>
  <div>
    <label for="origin">Starting Airport</label>
    <input type="text" name="origin" id="origin" ng-model="tripsEdit.trip.origin_airport">
  </div>


  <button>Update</button>
</form> -->
