<h1>index</h1>

<!-- <ul>
  <li ng-repeat="probability in probabilitiesIndex.all">

    <a ui-sref="tripsShow({ id: trip.id })"><h2>{{ probability.location.name }}</h2></a>
    <p>{{probability.location.lat}}</p>
    <p>{{probability.location.lng}}</p>
  </li>
</ul>
 -->

 {{probabilities.selected}}


<div ng-controller="TripsNewCtrl as tripsNew">

  {{ tripsNew.chosenLatLng }}
  <google-map locations="probabilitiesIndex.all" selected="probabilities.selected" lat="tripsNew.trip.destination_lat" lng="tripsNew.trip.destination_lng" center="{lat: 51.5098657, lng: -0.118092}" ng-if="probabilitiesIndex.all.$resolved" get-lat-lng="tripsNew.getLatLng(lat, lng)"></google-map>



  <button class="btn" ng-click="tripsNew.create()">Choose this location</button>

  <h3>lat:{{tripsNew.trip.destination_lat}}</h3>
  <h3>lng:{{tripsNew.trip.destination_lng}}</h3>
</div>
