<form ng-submit="tripsNew.create()" id="newTrip.form">
  <div>
    <label for="name">Name of the trip?</label>
    <input type="text" name="name" id="name" ng-model="tripsNew.trip.name">
  </div>
  <div>
    <label for="date">When would you like to go?</label>
    <input type="date" name="date" id="date" ng-model="tripsNew.trip.date">
  </div>
  <div>
    <input type="text" class="form-control" autocomplete originlat="tripsNew.trip.origin_lat" originlng= "tripsNew.trip.origin_lng" ng-model="tripsNew.trip.origin_airport" required name="dateAddress" id="dateAddress" placeholder = "enter your starting location" get-origin-lat-lng="mapsPage.getLatLng(originlat, originlng)">
    </div>
  <div>
    {{tripsNew.trip.origin_lat}}
    {{tripsNew.trip.origin_lng}}
  </div>


  <button>Create</button>
</form>
