<div class="homepage">
<h1>Aurora Explorer</h1>
<h2>Find the places on earth with the highest chance of seeing the Aurora and plan your trip of a lifetime  to see them</h2>

<div class="footer">
  <p>Made with &hearts; by <a>Sarah</a> at GA London 2017</p>
  <a>More Info About this app</a>
  <!-- this opens a modal with info about the apis -->
</div>

</div>
<!-- <div class="contenedor">
   <div class="luna"></div>
  <div class="stars"></div>
  <div class="stars3"></div>
  <div class="stars5"></div>
  <div class="circu"></div>
  <div class="base"></div>

  <ul class="mont">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  </ul>

  <ul class="hills">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  </ul>

  <ul class="arboles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  </ul>

</div> -->
