<!DOCTYPE html>
<html ng-app= "auroraApp">
  <head>
    <meta charset="utf-8">
    <base href="/">
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <title>Aurora Hunt</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOk52BZUsfmPLLWjrXH-wu3IEOqjuk7nA&libraries=places,visualization">
  </script>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  </head>
<body ng-controller= "MainCtrl as main">
  <div class="menu" ng-click="home.menuIsOpen = !home.menuIsOpen" ng-class="{ 'open': home.menuIsOpen }">
  <div class="burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div> 
<nav ng-class="{ 'open' : home.menuIsOpen }">
  <div ng-controller="MainCtrl as main" class="right">
    <div class="collapse navbar-collapse links" uib-collapse="main.isNavCollapsed">
     <ul class="nav navbar-nav">
       <li><a ui-sref="home" ui-sref-active="active">home</a></li>
       <li ng-if="main.isAuthenticated()"><a ui-sref="dateNightsIndex" ui-sref-active="active">all dates</a></li>
       <li ng-if="main.isAuthenticated()"><a ui-sref="dateNightsNew" ui-sref-active="active">add a new date</a></li>
       <li ng-if="!main.isAuthenticated()"><a ui-sref="login" ui-sref-active="active">login</a></li>
       <li ng-if="!main.isAuthenticated()"><a ui-sref="register" ui-sref-active="active">register</a></li>
       <li ng-if="main.isAuthenticated()"><a ui-sref="usersShow({ id: main.currentUserId })" ui-sref-active="active">profile</a></li>
       <li ng-if="main.isAuthenticated()"><a ng-click="main.logout()" href="#" ui-sref-active="active">logout</a></li>
     </ul>
   </div>
  </div>
</nav>

      <main ui-view></main>
  </body>





  </html>
