// Import all of your scss files here
@import 'cartoon';

// Extends
$hover: #B96AC4;
$text: #4F7891;
$button: #3CB7A8;

.centered-styles {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.generalbutton {
    background: none;
    color: #3CB7A8;
    padding: 5px 20px;
    margin-top: 10%;
    font-size: 25px;
    font-weight: bold;
    border: none;
    margin-left: 100px;
    &:hover {
      background: none;
      color: $hover;
      animation: bounce 1s;
    &:focus {
      outline:none;
    }
    }
}


// Global styles

* {
  box-sizing: border-box;
}
body {
  // background-color:#f7f7f7;
}

body, input, button, a {
  font-family: 'Karla', sans-serif;
  color: $text;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 10px;
  color: $text;
}

p {
  font-size: 16px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.rainbowbackground {
  background: #f76009;
  background: -moz-linear-gradient(left,  #f76009 7%, #04b6d6 33%, #ff0f43 65%, #408c54 93%);
  background: -webkit-gradient(linear, left top, right top, color-stop(7%,#f76009), color-stop(33%,#04b6d6), color-stop(65%,#ff0f43), color-stop(93%,#408c54));
  background: -webkit-linear-gradient(left,  #f76009 7%,#04b6d6 33%,#ff0f43 65%,#408c54 93%);
  background: -o-linear-gradient(left,  #f76009 7%,#04b6d6 33%,#ff0f43 65%,#408c54 93%);
  background: -ms-linear-gradient(left,  #f76009 7%,#04b6d6 33%,#ff0f43 65%,#408c54 93%);
  background: linear-gradient(to right,  #f76009 7%,#04b6d6 33%,#ff0f43 65%,#408c54 93%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f76009', endColorstr='#408c54',GradientType=1 );
}


.menu {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 3;
  .burger {
    width: 20px;
    height: 15px;
    @extend .centered-styles;
    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color: $hover;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: all 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 6px;
      }
      &:nth-child(4) {
        top: 12px;
      }
    }
  }
  &.open {
    .burger {
      span {
        background-color: $hover;
        &:nth-child(1),
        &:nth-child(4) {
          top: 6px;
          width: 0%;
          left: 50%;
        }
        &:nth-child(2) {
          transform: rotate(45deg);
        }
        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

nav {
   > div {
     z-index: 2;
     width: 100%;
     height: 10%;
     position: absolute;
     top: 0;
     transition: all 0.5s ease-in-out;
    //  background-color: rgba(0, 0, 0, 0.3);
    @extend .rainbowbackground;
    //  text-align: center;
     &.right {
       top: -100%;
      //  background-color: rgba(0, 0, 0, 0.3);

     }
     .links {
       // @extend .centered-styles;
       ul {
         background: none;
         float: right;
         text-align: left;
         margin: 20px 60px 0 0;
         li {
           white-space: nowrap;
           line-height: 1.5;
           list-style: none;
           color: $button;
           a {
             font-size: 18px;
             color: $button;
             font-style: oblique;
             text-transform: capitalize;
             display: inline-block;
             &:hover {
               color: $button;
              //  animation: pulse 0.75s infinite;
             }
             &.active {
               color: $hover;
               animation: none;
               text-decoration: underline;
             }
           }
         }
       }
     }
   }
   &.open {
     .right {
       top: 0;
     }
   }
  }

// Edit page

.google-map {
  height: 50vh;
  width: 100%;
  border-left: 20px;
  display: inline-block;
  border:1px solid grey;
}


.flightsBoard {
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  h2 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid $button;
  }
  h3 {
    text-align: center;
    border-bottom: solid 2px $button;
  }
  p {
    padding: 0 4px;
    text-align: center;
  }
}
.selected {
  background-color: $hover;
  p {
    color: black;
    padding: 0 4px;
  }
  h2 {
    color: black;
    padding: 0 4px;
  }
}
#flightSelector {
  color: $button;
  text-align: center;
  &:hover {
    text-decoration: underline;
    color: $button;
  }
}
#weatherHeader {
    border: solid 2px $button;
    padding: 10px;
    margin: 5px;
}
#weatherData {
  border: solid 2px $button;
  padding: 10px;
  margin: 5px;
}

// show page-----------------------------------------------------
#showPage {
  .right {
    text-align: center;
    width: 40%;
    right: 0;
    float: right;
    padding: 10px;
    margin: 10% 5% 5% 0;
    border: 2px solid $button;
    border-radius: 10%;
      .details {
        h2 {
          text-decoration: underline;
        }
      }
  }
  .left {
    width: 50%;
    position: fixed;
    .showpage {
      height: 95vh;
      border-left: 20px;
      display: inline-block;
      border:1px solid grey;
    }
  }
}
//new page-----------------------------------------------
#newpage {
  #right {
    width: 50%;
    right: 0;
    float: right;
    margin: 8% -5% 5% 0;
      .details {
        h2 {
          text-decoration: underline;
        }
      }
  }
  #left {
    width: 50%;
    position: fixed;
    .showpage {
      height: 100vh;
      border-left: 20px;
      display: inline-block;
      border:1px solid grey;
    }
  }
}
//index------------------

.index {
  border: solid 4px $button;
  padding: 40px;
  margin: 20px;
  a, h2 {
    color: $button;
    border-bottom: solid 4px $hover;
    margin-bottom: 10px;
    &:hover {
      text-decoration: none;
      color: $hover;
    }
  }
}
//login----------------------------------------
.loginForm, .registerForm {
  border:  solid 4px $button;
  margin: 150px;
  padding: 30px;
    input {
      margin-top: 20px;
        &:focus {
          outline:none;
      }
    }
  }
  .register {
    color: $button;
    &:hover {
      text-decoration: none;
      color: $hover;
    }
}

//homepage

.homepage {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('/images/hero.jpg');
  background-position: center;
  background-size: cover;
  position:relative;
  h1 {
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    font-size: 40px;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);//centers the text
    color: white;
    font-style: oblique;
  }
   h2 {
    font-size: 20px;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);//centers the text
    color: white;
    text-align: center;
  }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    text-align: center;
      p {
        color: white;
      }
      a {
        color: white;
       &:hover {
          text-decoration: underline;
          color: $hover;
        }
      }
    }
  }

//animations---------------------------------------------
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(1px);
  }
  75% {
    transform: translateY(-1px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
