// Import all of your scss files here

// Global styles
li {
  list-style: none;
}


.google-map {
  height: 500px;
  width: 800px;
  display: inline-block;
  border:1px solid grey;
}
.gm-style-iw {
   width: 350px !important;
   top: 0 !important;
   left: 0 !important;
   border-radius: 2px 2px 0 0;
}
.selected {
  border: 2px solid dodgerblue;
  border-radius: 3%;
}
